// HELPERS
@use '_helpers' as *

// NAVIGATION MENU
@use '_nav' as *


// -------------------------------------------

// NORMALIZE
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: $background-color
    color: $text-color
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

// CONTAINERS
    
.container
    width: 90vw
    margin: 0 auto
    @media (min-width: $med-width)
        width: 70vw
    @media (min-width: $full-width)
        width: 60vw

.wide-container
    width: 100vw
    margin: 0 auto
    @media (min-width: $med-width)
        width: 90vw
    @media (min-width: $full-width)
        width: 70vw

// FONT STYLING
h1
    font-size: 3rem
    font-weight: 600
    line-height: 3.2rem
h2
    font-size: 2.5rem
    font-weight: 500
h3
    font-size: 2rem
    font-weight: 400
h4
    font-size: 1.7rem
    font-weight: 300
h5
    font-size: 1.3rem
    font-weight: 200
h6
    font-size: 1rem
    font-weight: 100

.title
    @extend h1
    margin-bottom: 1rem

.subtitle
    @extend h4
    color: $accent-color
    margin-bottom: .5rem

header
    position: sticky
    top: 0
    z-index: 999
    width: 100vw
    height: auto
    background-color: transparentize(mix($accent-color, $background-color, 50%), 0.5)
    backdrop-filter: blur(10px)
    .text-logo
        display: inline-block
        text-decoration: none
        color: $text-color
        border: 2px solid $text-color
        margin: 0.5em 0 0.5em 0.5em
        padding: 0.5rem 1rem
        text-transform: uppercase
        font-weight: 700
        letter-spacing: 0.1em

#home-hero
    position: relative
    min-height: 65vh
    padding: 0
    #background-image
        object-fit: cover
    #text-content
        position: absolute
        width: 65vw
        height: 100%
        color: $text-color
        left: 20px
        display: flex
        justify-content: center
        flex-direction: column
        @media (min-width: $med-width)
            left: 100px
            width: 50vw
        @media (min-width: $full-width)
            left: 150px
            width: 40vw
        h1
            margin-bottom:0.25em
        h2
            font-size: 1.3em
            font-weight: 400
            text-transform: uppercase
            color: $accent-color
            margin-bottom: 0
        p
            margin-top: .5em

section
    padding: 2em 0
    h2
        margin-bottom: 1em

.flex-card-container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    .project-card
        width: 100%
        border-top-left-radius: 0.5em
        border-top-right-radius: 0.5em
        margin-bottom: 1em
        img
            width: 100%
            height: 20vh
            object-fit: cover
        .content
            width: 90%
            margin: 0 auto
            background-color: mix($accent-color, $background-color, 20%)
            padding: 1em
            h4
                margin-bottom: 0.5em

.button-row
    display: flex
    justify-content: space-between
    a
        padding: 0.5em
        background-color: $accent-color
        text-decoration: none
        flex-grow: 1
        text-align: center
        color: $background-color
        margin: 0 3px
        &:first-of-type
            margin-left: 0
        &:last-of-type
            margin-right: 0